{% extends "ELearn/layout.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
Create Topic
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>Add Questions</h4>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}       
                {% for field in form.visible_fields %}
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" id="{{field.label}}">{{ field.label_tag }}</label>
                    <div class="col-md-10">
                        {% render_field field class="form-control" %}
                    </div>
                </div>
                {% endfor %}                            
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <button type="submit" name='question' class="btn btn-primary" value="question">Add Question</button>        
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <button type="submit" name='question' onclick="create_assessment" class="btn btn-primary" value="{{ assess_id }}">Finish</button>        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>
    $(document).ready(function(){         
        $("#id_question_type").change(function(){
            if(this.value == 'FI'){
                //Fill-in
                $('#id_option_a').hide();
                $('label[id="Option A"]').hide();
                $('#id_option_b').hide();
                $('label[id="Option B"]').hide();
                $('#id_option_c').hide();
                $('label[id="Option C"]').hide();
                $('#id_option_d').hide();
                $('label[id="Option D"]').hide(); 
            }
            else{
                //MCQ
                $('#id_option_a').show();
                $('label[id="Option A"]').show();
                $('#id_option_b').show();
                $('label[id="Option B"]').show();
                $('#id_option_c').show();
                $('label[id="Option C"]').show();
                $('#id_option_d').show();
                $('label[id="Option D"]').show(); 
            }
        });
    });
</script>

{% endblock %}