{% extends "ELearn/layout.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
Create Topic
{% endblock %}
{% block content %}

<div class="container-fluid">
    
    
    
    <div class="row">
        <div class="col-8">   
            {% if points_added.question_points__sum >= assessment.assess_points %}              
                <div class="row">
                    <div class="col">
                        The assessment is ready! Click <a class="orange-link" href="{% url 'assessmenthome' module_id=assessment.module %}">here</a> to view it!</p>
                    </div>
                </div>      
                <br/>
            {% else %}
            {% if points_added == 0 %}
            <div class="row">
                <div class="col">
                    If you prefer uploading a template instead of adding questions one-by-one, please check 
                    <a class="orange-link" href="{% url 'uploadquestions' assess_id=assessment.assess_id %}">this</a> link.
                </div>
            </div>
            <hr/>
            {% endif %}            
                <div class="row">
                    <div class="col">
                        {{ assessment.course.course_id }} {{ assessment.course.course_name }} 
                        <br/>
                        POINTS ADDED : {{ points_added.question_points__sum }} / {{ assessment.assess_points }}
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Add Question</h4>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}       
                            {% for field in form.visible_fields %}
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" id="{{field.label}}">{{ field.label_tag }}</label>
                                    <div class="col-md-10">
                                        {% render_field field class="form-control" %}
                                    </div>
                                </div>
                            {% endfor %}                            
                            <div class="form-group row">
                                <div class="col text-center">
                                    <button type="submit" name='question' class="btn button-blue" value="question">Add Question</button>        
                                </div>
                            </div>                            
                        </form>
                    </div>
                </div> 
            {% endif %}
        </div>
        <div class="col-4">
            {% if questions_added.all %}
            Questions added to {{ assessment.assess_name }}:
            {% for question_added in questions_added %}
            <div class="row">
                <div class="col-10">
                    <small>{{ question_added.question_text }} </small>
                </div>
                <div class="col-2 text-right">
                    <small>{{ question_added.question_points }}</small>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>    
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>
    $(document).ready(function(){         
        $("#id_question_type").change(function(){
            if(this.value == 'FI'){
                //Fill-in
                $('#id_option_a').hide();
                $('label[id="Option A"]').hide();
                $('#id_option_b').hide();
                $('label[id="Option B"]').hide();
                $('#id_option_c').hide();
                $('label[id="Option C"]').hide();
                $('#id_option_d').hide();
                $('label[id="Option D"]').hide(); 
            }
            else{
                //MCQ
                $('#id_option_a').show();
                $('label[id="Option A"]').show();
                $('#id_option_b').show();
                $('label[id="Option B"]').show();
                $('#id_option_c').show();
                $('label[id="Option C"]').show();
                $('#id_option_d').show();
                $('label[id="Option D"]').show(); 
            }
        });
    });
</script>

{% endblock %}