{% extends "ELearn/layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
{% load static %}


<div class="container"> 
    {% if not questions.all %}   
    <div class="row">
        <div class="col">
            There are no questions added to the assessment right now. Please <a class="orange-link" href="{% url 'addquestions' assess_id=assess_id%}">add</a> questions to this assessment.
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-9">
            {% for question in questions %}
                <div class="row">
                    <div class="col-10">
                        <strong>Question : </strong>{{ question.question_text }}
                    </div>
                    <div class="col-2 text-right">
                        {{ question.question_points }} points
                    </div>
                </div>
                <br/>                     
                {% if question.option_a != '' %}
                    <div class="row">
                        <div class="col">
                            A.{{ question.option_a }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            B.{{ question.option_b }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            C.{{ question.option_c }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            D.{{ question.option_d }}
                        </div>
                    </div>
                {% endif %}
                <br/>  
                <div class="row">
                    <div class="col">
                        <strong>Answer : </strong>{{ question.answer_text }}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <a class="btn" href="{% url 'deletequestion' ques_id=question.pk %}"><i title="Delete Question" class="orange fas fa-trash-alt"></i></a>                      
                    </div>
                </div>
                <hr/>
            {% endfor %}        
        </div>
        <div class="col-1"></div>
        <div class="col-2">
            {% if questions.all %}

                {% if not is_published %}                
                    <div class="row">
                        <div class="col">
                            <a class="orange-link" href="{% url 'publishassessment' module_id=module_id %}">Publish this assessment</a>
                        </div>
                    </div>
                    <hr/>                
                {% else %}
                <div class="row">
                    <div class="col">
                        <p class="orange-link"><i class="fas fa-check-circle orange"></i> Published</p>
                    </div>
                </div>                        
                {% endif %}   
                        
                <div class="row">
                    <div class="col">
                        <a class="orange-link" href="{% url 'takeassessment' module_id=module_id %}">Take this assessment</a>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        <a class="orange-link" href="{% url 'studentstats' module_id=module_id %}">View Student Stats</a>
                    </div>
                </div>
            {% endif %}                           
        </div>
    </div> 
</div>
{% endblock %}