{% extends "ELearn/layout.html" %}
{% block title %}
Course Home
{% endblock %}
{% block content %}
{% load static %}



<div class="container">
    <div class="row">
        <div class="col">
            <small><a class="orange-link" href="{% url 'home' %}">Back</a></small>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-9">
          <a href="{% url 'coursedetail' course_id=course.course_id %}" id='{{course.course_id}}'><h3>{{course.course_id}} {{course.course_name}}</h3></a>
        </div>
        <div class="col-3 text-right">
            <a href="{% url 'createmodule' course_id=course.course_id %}" id = '{{course.course_id}}'>Create Module ></a>
        </div>
    </div>
    
    <hr/>
    {% if not modules.all %}
    <div class="row">
      <div class="col">
        <i class="orange fas fa-exclamation-circle"></i> There are no modules currently in the course.
      </div>
    </div>
    {% endif %}
    {% for module in modules %}
    <div class="accordion" id="accordionExample">        
        <div class="card">
          <div class="card-header lightGrey" id="heading_{{module.module_id}}">
            <div class="row">
              <div class="col-11">
                <h5 class="mb-0">
                  {% if module.module_type == 'CW' %}
                      <!-- Course Work -->                        
                      <button class="lightGrey" type="button" data-toggle="collapse" data-target="#{{module.module_id}}" aria-expanded="true" aria-controls="{{module.module_id}}">                        
                        <i id="folderIcon" class="fas fa-folder-open orange"></i>
                      </button>
                      <a href="{% url 'modulehome' module_id=module.module_id %}">{{ module.module_name }}</a>

                  {% elif module.module_type == 'PT' %}

                      <!-- Project -->                      
                      <a href="{% url 'projecthome' module_id=module.module_id %}"><i class="fas fa-project-diagram orange"></i> {{ module.module_name }}</a>                      

                  {% elif module.module_type == 'AT' %}

                      <!-- Assignment -->
                      <a href="{% url 'assignmenthome' module_id=module.module_id %}"><i class="fas fa-tasks orange"></i> {{ module.module_name }}</a>                      

                  {% else %}

                      <!-- Assessment -->
                      <a href="{% url 'assessmenthome' module_id=module.module_id %}"><i class="fas fa-rocket orange"></i> {{ module.module_name }}</a>                    
                      
                  {% endif %}
                </h5>
              </div>  
              <div class="col-1 text-right">
                <a class="btn" href="{% url 'deletemodule' module_id=module.module_id %}"><i title="Delete" class="orange fas fa-trash"></i></a>
              </div>            
            </div>
          </div>  
          {% if module.module_type == 'CW' %}
          <div id="{{module.module_id}}" class="collapse show" aria-labelledby="heading_{{module.module_id}}">
            <!-- data-parent="#accordionExample" -->
            <div class="card-body">              
                {% for topic in topics %}
                   {% if topic.module.module_id == module.module_id%}
                    <div class="row">
                      <div class="col-11">
                        {% if topic.topic_file == '' %}                                   
                          <i class="fas fa-link tealColored"></i>&nbsp;
                          <a target="_blank" class="tealLink" href="{{ topic.topic_url }}">{{ topic.topic_url}} </a>                        
                        {% else %}                                        
                            {% if topic.find_typecheck == 'VALID' %}
                              <i class="fas fa-glasses tealColored"></i>&nbsp;
                              <a class="tealLink" href="../opendocument/{{ topic.topic_file }}">{{ topic.topic_url}} </a>
                            {% else %}
                              <i class="fas fa-paperclip tealColored"></i>&nbsp;
                              <a class="tealLink" href="../media/{{ topic.topic_file }}">{{ topic.topic_url}} </a>                        
                            {% endif %}
                        {% endif %}
                      </div>
                      <div class="col-1 text-right">
                        <a class="btn" href="{% url 'deletetopic' topic_id=topic.pk %}"><i title="Delete" class="orange fas fa-trash-alt"></i></a>
                      </div> 
                    </div>  
                    <hr/>                              
                   {% endif %}
                {% endfor %}                
                <div class="row">
                  <div class="col text-right">                
                      <a href="{% url 'createtopic' module_id=module.module_id %}" title="Add Topic"><i class="fas fa-plus-square"></i></a>
                  </div>
                </div>                
              </div>   <!-- End of CARD Body -->                
          </div>
          {% endif %}
        </div>    <!-- End of CARD -->
        <hr/>
      </div>      <!-- End of Accordion -->        
    <br/>
    {% endfor %}
</div>
                  
{% endblock %}