{% extends "ELearn/layout.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
Create Module
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <small><a class="orange-link" href="{% url 'coursehome' course_id=course_id %}">Back</a></small>
        </div>
    </div>
    <br/>
    {% if form.instance.pk is None %}
    <div class="row">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'createmodule' course_id=course_id %}" role="button" class="btn folder-btn">Coursework</a>
            <a href="{% url 'createassignment' course_id=course_id %}" role="button" class="btn lightGrey">Assignment</a>
            <a href="{% url 'createproject' course_id=course_id %}" role="button" class="btn lightGrey">Project</a>
            <a href="{% url 'createassessment' course_id=course_id %}" role="button" class="btn lightGrey">Assessment</a>
        </div>        
    </div>
    <br/>
    <br/>
    {% endif %}
    <div class="row">
        <div class="col">
            
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                     
                {% for field in form %}
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">{{ field.label_tag }}</label>
                    <div class="col-md-10">
                        {% render_field field class="form-control" %}                        
                    </div>
                </div>
                {% endfor %}                            
                <div class="form-group row">
                    <div class="col text-center">
                        <button type="submit" name='course_id' class="btn button-blue" value="{{course_id}}">Save CourseWork</button>        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}