{% extends "ELearn/layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row"> 
        {% for course in Courses %} 
        <div class="col">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">{{course.course_id}} {{course.course_name}}</h5>                    
                <p class="card-text text-justify"><small>{{course.course_desc}}</small></p>
                <a href="coursehome/{{course.course_id}}" class="btn btn-primary" id = '{{course.course_id}}'>View Details</a>            
                </div>
            </div>
        </div>
        {% endfor %} 
        <br/>
    </div>
</div>
{% endblock %}