<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>{% block title %}{% endblock %}</title>
    {% load static %} 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">    
    <link rel="stylesheet" type="text/css" href="{% static 'ELearn/ELearn_Styles.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <br/>
                <br/>
                <h3>You have signed out successfully ! Please close the browser to complete the logout process.</h3>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                <h4>Want to go back again?! Click <a class="login orange-link" href="{% url 'login' %}">here</a> to login</h4>
            </div>
        </div>
    </div>
    
    <h2></h2>
    <br/>
    <div class="exists">
        <small class="chkexists">
            
        </small>
    </div>

</body>

</html>