{% extends "ELearn/layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
{% load static %}

<div class="container">
  <div class="row">
      <div class="col">
          <small><a href="{% url 'coursehome' course_id=module.course.course_id %}" id = '{{course.course_id}}'>Go Back</a></small>
      </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-3">
        <h5>Course</h5>
    </div>
    <div class="col-9">
        <p class="card-text">{{ module.course.course_id }} {{ module.course.course_name }}</p>
    </div>
</div>
  <div class="row"> 
      <div class="col-3">
          <h5>Module Name</h5>
      </div>
      <div class="col-9">
          <h5 class="card-title">{{module.module_name}}</h5>                    
      </div>
  </div>
  <div class="row">
      <div class="col-3">
          <h5>Module Description</h5>
      </div>
      <div class="col-9">
          <p class="card-text">{{ module.module_desc }}</p>
      </div>
  </div>
  <div class="row">
      <div class="col-3">
          <h5>Module Type</h5>
      </div>
      <div class="col-9">
          <p class="card-text">{{ module.module_type }}</p>
      </div>
  </div>
  
  
  <br/>
  
</div>
                         
{% endblock %}