{% extends "ELearn/layout.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
{% endblock %}
{% block content %}
{% load static %}


<div class="container">
    <div class="row"> 
        <div class="col-3">
            PROJECT
        </div>   
        <div class="col-9">
            <strong>{{ project.project_name }}</strong>
        </div>          
    </div> 
    <hr/>
    <div class="row">    
        <div class="col-3">
            Points
        </div>   
        <div class="col-9">
            <strong>{{ project.project_points }}</strong>
        </div>          
    </div>
    <br/>
    <div class="row">    
        <div class="col-3">
            Deadline
        </div>   
        <div class="col-9">
            {{ project.deadline }}
        </div>          
    </div> 
    <br/>
    <div class="row">  
        <div class="col-3">
            Description
        </div>   
        <div class="col-9">  
            {{ project.project_desc }}
        </div>          
    </div>     
</div>
{% endblock %}