{% extends "ELearn/layout.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
Inbox
{% endblock %}
{% block content %}

<!-- <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %} -->
    <div class="container-fluid">
        {% for mail in sent_items %}
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-1">
                        <i class="fas fa-envelope-square"></i> 
                    </div>
                    <div class="col-11">
                        {{ mail.receiver.first_name }} {{ mail.receiver.last_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">
                        {{ mail.created_at }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">
                        {{ mail.msg_subject }} 
                    </div>
                </div>
            </div>
            <div class="col-8">
                TO :  {{ mail.receiver.first_name }} {{ mail.receiver.last_name }}
                <br/>
                <strong>{{ mail.msg_subject }}</strong>
                <hr/>
                <p>{{ mail.msg_content }}</p>                
            </div>
        </div>
        <br/>
        <br/>
        {% endfor %}
    </div>
<!-- </form> -->

{% endblock %}