{% extends "ELearn/layout.html" %}
{% block title %}
Student Statistics
{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <small><a class="orange-link" href="{% url 'assessmenthome' module_id=assessment.module %}">Back</a></small>
                </div>
            </div>
            <br/>
            {% if not student_scores.all %}
                <div class="row">
                    <div class="col">
                        <i class="fas fa-exclamation-circle orange"></i> The student stats will be available when the assessment has been taken by students.
                        <hr/>
                        <br/>
                        You can take a test attempt <a class="orange-link" href="{% url 'takeassessment' module_id=assessment.module %}">here</a>.
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col">
                        <strong>{{ assessment.course.course_id }} {{ assessment.course.course_name }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                            {{ assessment.assess_name }} : Student Statistics
                    </div>            
                </div>
                <hr/>
                <br/>
                <div class="row">
                    <div class="col-6">
                        <strong>Student Name</strong>
                    </div>
                    <div class="col-6">
                        <strong>Score</strong>
                    </div>
                </div>
                <hr/>
                {% for entry in student_scores %}
                <div class="row" style="border-style:ridge; border-color: teal;">
                    <div class="col-6" style="border: brown;">
                        <a href="#">{{ entry.attempt_user__first_name }} {{ entry.attempt_user__last_name }}</a>
                    </div>     
                    <div class="col-6" style="border: brown;">
                        {{ entry.result__sum }}
                    </div>   
                </div> 
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <i class="fas fa-chart-bar fa-7x orange"></i>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col text-center">
                    <i class="fas fa-chart-line fa-7x orange"></i>
                </div>
            </div>                        
        </div>
    </div>
    
    
</div>

{% endblock %}